@import "tailwindcss";


:root {
  --bg: #E9F0F3;
  --page-bg: #E9F0F3;
  /*--page-bg: linear-gradient(to bottom, rgb(146,198,191), rgb(146,198,191), rgb(146,198,191), #74c49e, #3fec3f);*/
  --fg: #171717;
  --text: #111111;
  --muted: #8aa6b1;
  --card: #f5f5f5;
  --border: #9fd3fd;
  /*--accent: #3296e9; */
  --accent: #658ce7;
  --logo-filter: saturate(10) sepia(3) brightness(0.8) hue-rotate(145deg);
}


[data-theme="dark"] {
  --bg: #1c181f;
  /*--page-bg: #1a1d24;*/
  --page-bg: #1c181f;
  /*--page-bg: linear-gradient(to bottom, rgb(35, 47, 66), rgb(29, 43, 41), #0c2b0c);*/
  --text:   #efefef; 
  --muted:  #a6a2b3;  
  --card:   #25212a; 
  --border: #3f3a4a; 
  --accent: #7c7ab8; 
  --logo-filter: saturate(3) sepia(5) brightness(0.6) hue-rotate(150deg);
}

@theme inline {
  --color-bg: var(--bg);
  --color-card: var(--card);
  --color-text: var(--text);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --font-main: var(--font-poppins);
  --logo-filter: var(--logo-filter);
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif; /*not sure what this does*/
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

/*theme toggle icon animation stuff*/
.theme-toggle {
  position: relative;
  width: 20px;
  height: 20px;
  line-height: 0;         
  color: var(--color-text);
}

.theme-toggle .icon {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;          
  transition:
    opacity 250ms ease,
    transform 350ms ease;
}

/* Light mode */
[data-theme="light"] .sun {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

[data-theme="light"] .moon {
  opacity: 0;
  transform: rotate(100deg) scale(0.75);
}

/* Dark mode */
[data-theme="dark"] .sun {
  opacity: 0;
  transform: rotate(100deg) scale(0.75);
}

[data-theme="dark"] .moon {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}


/* ----------------------------------------------
 * Generated by Animista on 2026-1-16 17:21:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 .slide-in-right {
	-webkit-animation: slide-in-right 0.4s ease-in-out forwards;
	        animation: slide-in-right 0.4s ease-in-out forwards;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}