@import "tailwindcss";

:root {
  --bg: #E9F0F3;
  --page-bg: #E9F0F3;
  /*--page-bg: linear-gradient(to bottom, rgb(146,198,191), rgb(146,198,191), rgb(146,198,191), #74c49e, #3fec3f);*/
  --fg: #171717;
  --text: #111111;
  --muted: #b5b5d3;
  --card: #f5f5f5;
  --border: #3B589C;
  --accent: #3B589C;
}


[data-theme="dark"] {
  --bg: #1c181f;
  /*--page-bg: #1a1d24;*/
  --page-bg: #1c181f;
  /*--page-bg: linear-gradient(to bottom, rgb(35, 47, 66), rgb(29, 43, 41), #0c2b0c);*/
  --text:   #efefef; 
  --muted:  #a6a2b3;  
  --card:   #25212a; 
  --border: #3f3a4a; 
  --accent: #7c7ab8; 
}

@theme inline {
  --color-bg: var(--bg);
  --color-card: var(--card);
  --color-text: var(--text);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-accent: var(--accent);
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}